{% extends 'base.html.twig' %}
{% block title %}CityRecords{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('pageCityRecords') }}
    {{ encore_entry_script_tags('pageCityRecords') }}
{% endblock %}

{% block body %}
    <div class="container" style="width: 75%">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card text-white bg-gradient-dark">
                            <div class="card-body">
                                <div class="text-muted text-right mb-4">
                                    <i class="c-icon c-icon-2xl fas fa-city"></i>
                                </div>
                                <div class="text-value-lg">{{ city }}</div>
                                <small class="text-muted text-uppercase font-weight-bold">Records: {{ records|length }}</small>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <table id="records" class="table table-light table-bordered">
                                    <thead class="thead-dark ">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">City name <i class="c-icon fas fa-signature text-white"></i></th>
                                        <th scope="col">Temperature <i class="c-icon fas fa-temperature-low text-white"></i> (°C)</th>
                                        <th scope="col">Humidity <i class="c-icon fas fa-tint text-white"></i> </th>
                                        <th scope="col">Pressure <i class="c-icon fas fa-compress-alt text-white"></i></th>
                                        <th scope="col" style="text-align: center">Actions <i class="c-icon fas fa-tools text-white"></i></th>
                                        <th scope="col">Timestamp</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td>{{ record.id }}</td>
                                            <td>{{ record.city.getName() }} </td>
                                            <td>{{ record.temperature }} </td>
                                            <td>{{ record.humidity }}</td>
                                            <td>{{ record.pressure }}</td>
                                            <td style="text-align: center">
                                                <a href="#" class="btn btn-sm btn-danger delete-record" data-id="{{ record.id }}">
                                                    DELETE
                                                </a>
                                                <a href="{{ path('record_edit', { 'id': record.id }) }}" class="btn btn-sm btn-success">
                                                    EDIT
                                                </a>
                                            </td>
                                            <td>{{ record.getDateCreate()|date("j F Y H:i:s") }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="navigation">
                                    {{ knp_pagination_render(records) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
